
/* 最外部容器 */
.shreditor-wrapper {
    outline: #7ec2f3 solid thin;
}
.shreditor-wrapper:focus {
    outline: none;
}

/* 工具条 */
.shreditor-toolbar {
    width: 100%;
}

/* 工作区 */
.shreditor-main {
    width: 100%;
    height: 100%;
}